.sectionHomePage {
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-right: 50px;
  padding-left: 50px;
}
.titleWrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 20px;
}

.title {
  display: flex;
  color: #121417;
  border-radius: 20px;

  font-weight: 500;
  line-height: 1.05;
  @media (min-width: 375px) {
    font-size: 30px;
  }
  @media (min-width: 768px) {
    font-size: 60px;
  }
  @media (min-width: 1440px) {
    font-size: 100px;
  }
}
.text {
  margin-top: 30px;
  color: #121417;
  border-radius: 20px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33333;
  text-align: center;

  @media (min-width: 375px) {
    font-size: 20px;
  }
  @media (min-width: 768px) {
    font-size: 30px;
  }
  @media (min-width: 1440px) {
    font-size: 50px;
  }
}

.rentPurpose {
  margin-top: 20px;
  color: #121417;
  border-radius: 20px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33333;
  text-align: center;
  font-size: 20px;
}
.photoWrapper {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.photoWrap {
  position: relative;
}
.photo {
  width: 100%;
  height: auto;
  border-top-right-radius: 120px;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 120px;
}

.price {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
  width: 40px;
  height: 40px;
  text-align: center;
  @media (min-width: 375px) {
    width: 50px;
    height: 50px;
    font-size: 12px;
  }
  @media (min-width: 768px) {
    width: 80px;
    height: 80px;
    font-size: 16px;
  }
  @media (min-width: 1440px) {
    width: 80px;
    height: 80px;
    font-size: 18px;
  }
}
.catalogLink {
  color: #007bff;
  cursor: pointer;
}
.familyWrap {
  display: flex;
  margin-top: 60px;
  align-items: center;
  justify-content: space-around;
}
.textForNeed {
  @media (min-width: 375px) {
    font-size: 20px;
  }
  @media (min-width: 768px) {
    font-size: 40px;
  }
  @media (min-width: 1440px) {
  }
}
.photoFamily {
  width: 60%;
  --animate-duration: 3s;
}

.dateWrap {
  display: flex;
  margin-top: 60px;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

.photoDate {
  width: 60%;
  --animate-duration: 3s;

  border-top-right-radius: 90px;
  border-top-left-radius: 120px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 50px;
}
