.filterWrap {
  display: flex;

  align-items: flex-end;
  justify-content: center;
  gap: 18px;
}
.selectWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.mileageWrap {
  display: flex;
  flex-direction: column;
}
.mileage {
  display: flex;
  position: relative;
}
.label {
  margin-bottom: 8px;
  color: #8a8a89;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28571;
}
.labelInput {
  color: #121417;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 111.111%;
}
.labelInputMileageFrom {
  position: absolute;
  top: 14px;
  left: 24px;
}
.labelInputMileageTo {
  position: absolute;
  top: 14px;
  left: 180px;
}

.filterSelect {
  width: 224px;
  height: 48px;
  padding-left: 18px;
  color: #121417;
  font-size: 18px;
  font-weight: 500;
  line-height: 111.111;
  border-radius: 14px;
  background: #f7f7fb;
  border: none;




}
.filterSelect:hover,
.filterSelect:focus {
  outline-color: var(--blue-color);
}
.filterSelectPrice {
  width: 125px;
  height: 48px;
}
.filterMileage {
  box-sizing: border-box;
  display: flex;
  width: 160px;
  height: 48px;
  align-items: center;
  flex-shrink: 0;
  background: #F7F7FB; 
  border: none;
  color: #121417;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 111.111%;
}
.filterMileageFrom {
  border-radius: 14px 0px 0px 14px;
  border-right: 1px solid rgba(138, 138, 137, 0.2);
  padding-left: 75px;
}
.filterMileageTo {
  border-radius: 0px 14px 14px 0px;
  background: #f7f7fb;
  padding-left: 50px;
  color: #121417;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 111.111%;
}
.button {
  display: block;
  color: var(--white-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.42857;
  display: flex;
  width: 136px;
  height: 48px;
  padding: 14px 44px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  border: none;
  background-color: var(--blue-color);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--blue-hover-color);
  border: none;
}

.iconArrow {
  position: absolute;
  left: 195px;
  top: 37px;
  background: #F7F7FB;
}



